<div id="header-region"></div>
<div id="main-region"></div>
<div di="footer-region"></div>
<div id="dialog-region"></div>

<%= javascript_tag do %>
    $(function() {
    EmailsApp.start();
    });
<% end %>